<!DOCTYPE html>
<html>
	<head>
		<title>Snow Report</title>
	    <style>
	        div#mcSnow
	        {
	            padding: 50px;
	            line-height: 1.3;
	        }
	        div#mcSnow div.snow
	        {
	            padding-top: 10px;
	        }
	        div#mcSnow div.snow div.header
	        {
	            width: 636px;
	        }
	        div#mcSnow div#dailymessage div#hdr
	        {
	            padding-bottom: 4px;
	            font-weight: bold;
	        }
	        div#mcSnow div.snow div.header span
	        {
	            float: right;
	        }
	        div#mcSnow div.snow div.report
	        {
	            padding: 5px;
	        }
	        div#mcSnow div.snow div.report div
	        {
	            padding: 2px;
	            font-size: 14px;
	        }
	        div#mcSnow div.snow div.report div:first-child
	        {
	            font-weight: bold;
	        }
	        div#mcSnow table
	        {
	            position: relative;
	            left: -10px;
	            width: 632px;
	            text-align: center;
	            border-width: 0px;
	            border-spacing: 10px;
	            border-collapse: separate;
	        }
	        div#mcSnow table td
	        {
	            border-width: 1px;
	            padding: 5px;
	            border-style: solid;
	            border-color: Gray;
	            width: 33%;
	        }
	        div#mcSnow table tbody tr td div.tfooter, div#mcSnow table tbody tr td div.theader
	        {
	            height: 20%;
	        }
	        
	        div#mcSnow table tbody tr td div.tnumber
	        {
	            font-size: 28px;
	            padding: 10px;
	            height: 60px;
	        }
	        div#mcSnow table tbody tr td div.tnumber span
	        {
	        }
	        div#mcSnow div.snow div#snowhistory.clear table tbody tr td
	        {
	            padding: 0px;
	            vertical-align: top;
	            width: 200px;
	        }
	    </style>
	</head>
	<body>
		{{ snow_report }}
	</body>
</html>
